@media (min-width: 700px) {
	:root {
		--container-width: 85%;
	}

	h1 {
		font-size: 42px;
	}

	h2 {
		font-size: 36px;
	}

	h3 {
		font-size: 32px;
	}

	.main-navbar {
		right: 16px;
		left: 16px;
	}

	.header {
		flex-direction: row;
		text-align: left;
		gap: 32px;
	}

	@keyframes profilepic {
		0% {
			opacity: 0;
			transform: translateX(-250px);
		}

		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}

	.profile-picture-container {
		display: flex;
		justify-content: center;
		flex: 1;
		width: 100%;
		height: 100%;
		animation: profilepic 2s ease 0s 1 normal forwards;
	}

	.profile-picture img {
		width: 100%;
	}

	.header-text {
		flex: 1;
		gap: 36px;
	}

	.contact-me {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 16px;
	}

	.contact-icons {
		font-size: xx-large;
	}

	/*project*/
	.main-section {
		align-items: flex-start;
		gap: 42px;
	}

	.project {
		flex-direction: row;
		align-items: center;
		text-align: left;
		max-width: max-content;
	}

	.project-picture {
		flex: 4;
	}

	.project-text {
		flex: 6;
	}

	.ancors-github-project {
		justify-content: flex-start;
	}

	/*experience*/
	.experience {
		text-align: left;
		padding-left: 15%;
	}

	.experience-title-date {
		flex-direction: row;
		justify-content: space-between;
	}

	.experience-title {
		flex-direction: row;
	}

	.experience-title img {
		width: 28px;
	}

	/*skills*/
	.skills-section {
		gap: 24px;
	}

	/*aboutme*/
	.about-me-profile {
		text-align: left;
		padding-left: 15%;
	}

	/*connect*/
	.connect-title-icons {
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		width: 100%;
	}

	.connect-title {
		align-items: flex-start;
	}

	.connect-contact {
		width: 100%;
		padding-left: 15%;
	}

	.connect-contact button {
		align-self: flex-start;
		width: 220px;
	}

	.connect-contact p {
		font-size: 22px;
	}

	.big-letter {
		font-size: 56px;
	}
}

/* Media query para dispositivos de escritorio (mayores a 1024px y hasta 1439px) */
@media (min-width: 1024px) {
	:root {
		--container-width: 75%;
	}

	.main-navbar {
		margin-top: 32px;
		margin-bottom: 32px;
		/* border-bottom: 1px solid var(--contrast-color); */
	}

	.menu-hamburguer-container {
		display: none;
	}

	.ancors-icons-nav {
		display: flex;
		align-items: center;
		gap: 44px;
	}

	.ancors-main-navbar {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	.icons-main-navbar {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	.icons-main-navbar a:hover {
		transform: scale(1.1);
		transition-duration: 0.5s;
		transition-timing-function: ease-in-out;
	}

	.header {
		gap: 56px;
		margin-top: 140px;
	}

	.header-text {
		flex: 2;
		justify-content: space-between;
		gap: 40px;
	}

	.main-title {
		font-size: 44px;
	}

	.project-picture {
		max-height: 400px;
	}

	.project-picture img {
		max-height: 400px;
	}

	.project-text {
		flex: 8;
	}
}

/* Media query para dispositivos de escritorio XXL (mayores a 1440px) */
@media (min-width: 1440px) {
	:root {
		--container-width: 75%;
	}

	.project-picture {
		flex: 6;
	}

	.project-text {
		gap: 10px;
	}

	.projects {
		display: grid;
		grid-template:
			"cook eltiempo" 1fr
			"polymer mozilla" 1fr
			"trello netflix" 1fr / 1fr 1fr;
	}

	.projects > :nth-child(1) {
		grid-area: cook;
	}

	.projects > :nth-child(2) {
		grid-area: eltiempo;
	}
	.projects > :nth-child(3) {
		grid-area: polymer;
	}
	.projects > :nth-child(4) {
		grid-area: mozilla;
	}
	.projects :nth-child(5) {
		grid-area: trello;
	}
	.projects :nth-child(6) {
		grid-area: netflix;
	}
}
