@media (min-width: 481px) {
	:root {
		--container-width: 85%;
	}

	.menu-hamburguer-container input:checked ~ ul {
		padding-left: 90vw;
	}

	.header {
		flex-direction: row;
		text-align: left;
		gap: 32px;
	}

    .profile-picture {
        flex: 1;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        animation: profilepic 2s ease 0s 1 normal forwards;
    }
    
    @keyframes profilepic {
        0% {
            opacity: 0;
            transform: translateX(-250px);
        }
    
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .profile-picture img {
        width: 100%;
        transform: translatey(0px);
    }

    .header-text {
        flex: 1;
    }

    .contact-me {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;
    }
    
}

/* Media query para dispositivos de escritorio (mayores a 1024px y hasta 1439px) */
@media (min-width: 1024px) {
	:root {
		--container-width: 75%;
	}

    .menu-hamburguer-container {
        display: none;
    }

    .ancors-icons-nav {
        display: flex;
        align-items: center;
        gap: 44px;
    }

    .ancors-main-navbar {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .icons-main-navbar {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .header-text {
        flex: 2;
        justify-content: space-between;
        gap: 40px;
    }

    .main-title {
        font-size: 44px;
    }
}

/* Media query para dispositivos de escritorio XXL (mayores a 1440px) */
@media (min-width: 1440px) {
	:root {
		--container-width: 75%;
	}
}
